{% extends "registration/registration_base.html" %}
{% load i18n %}
{% block title %}{% trans "Login" %}{% endblock %}


{% block content %}
{% url 'registration_register' as register_url%}

<form  method="post" action="{% url 'auth_login' %}">
      {% csrf_token %}
      <h2>{% trans 'Please, login' %}</h2>
      {{ form.as_p }}
      <input type="hidden"  name="next"  value="{{ next }}"/>
      <button class="submit" type="submit">{% trans 'Login' %}</button>
       <p  class="right">
           {% blocktrans %}<a href="{{ register_url }}">Need an account</a>?{% endblocktrans %}
       </p>
</form>
{% endblock %}
