{% extends "registration/registration_base.html" %}
{% load i18n %}
{% block title %}{% trans "Registration" %}{% endblock %}



{% block content %}
{% url 'auth_login' as auth_login_url %}
<h2>{% trans 'Please, register to continue' %}</h2>
<form action="/accounts/register/" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Submit" />
</form>
 <p class="right">
   {% blocktrans %}<a href="{{ auth_login_url }}">Already have an account ?</a>{% endblocktrans %}
</p>
{% endblock %}
